@import './variables';

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    font-family: $basic-font !important;
}

.npl {
    padding-left: 0 !important;
}

.mb5 {
    margin-bottom: 8px !important;
}

.noshadow {
    box-shadow: none !important;
}

.col {
    height: 100vh;
}

.outer-wrapper {
    display: flex;
    overflow: hidden;
}

.container-wrapper {
    flex: 0;
    background-color: $main-color;
}


/* EDITOR ::: TOP BAR */

.top-bar {
    padding: .8em 2em;
    border-bottom: 1px solid #e5e6e6;
    background-color: #f5f5f5;
    position: fixed;
    display: flex;
    right: 0;
    width: calc(100vw - 345px);
}

.top-widget .buttons .button {
    background-color: #fff !important;
}


/* EDITOR ::: BASIC NAV */
.nav {
    width: 280px;
    background-color: #ececec;
    padding: 2em 1em;
    border: 1px solid #d5d6d8;
}

.nav-icons-wrapper {
    width: 65px;
    background-color: #ffffff;

    a {
        display: block;
        padding: 1.4em 1em !important;
        font-size: 14px;
        font-family: 'Nunito', sans-serif;
        color: #717171 !important;
        text-align: center;
    }

    a.toggle-nav {
        font-size: 18px !important;
        color: #666 !important;
    }
}

.nav.col {
    button {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        font-family: "Quicksand", sans-serif;
    }

    .compact.segment {
        padding: .5em;
    }
    
}

.ajax-content {
    height: 100vh;
    background-color: #f6f6f6;
}

iframe {
    height: 100vh;
    width: 100%;
    padding-top: 52px;
    display: block;
    width: calc(100vw - 345px);
}